
@{
    ViewBag.Title = "Dental Issues - Cavities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/js/jquery_3.3.1.js"></script>
@*<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/boostrap.min.css"></script>*@
<script src="~/Content/js/jquery.dataTables.min.js"></script>
@*<script src="http://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>*@
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />

<link href="~/Content/css/StyleSheet1.css" rel="stylesheet" />
<link href="~/Content/css/problems.css" rel="stylesheet" />
<link href="~/Content/css/font.css" rel="stylesheet" />
<link href="~/Content/css/FixedHeader.css" rel="stylesheet" />
@*<script src="~/Content/js/showQuestion.js"></script>*@
<!--load css-->
<style>
    td.details-control {
        background: url('../resources/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('../resources/details_close.png') no-repeat center center;
    }

    img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
        max-width: none !important;
        max-height: none !important;
    }
    p {
    font-size:18px;
    }
</style>
<!--load script for google map-->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDs7DFmUEpY4gmsmLmCIBNihn6trxxVChc&callback=initMap&libraries=places&language=en"></script>
<script>
    var budget;
    var budget_input;
    var previousValue = $("#from_places").val();
    $(document).ready(function () {
        $("#from_places").keyup(function (event) {
            var currentValue = $(this).val();
            if (event.keyCode === 13) {
                //previousValue = currentValue;
                $("#submitButton").click();
            }
        });
        $('a[href^="#"]').on('click', function (event) {

            var target = $(this.getAttribute('href'));

            if (target.length) {
                event.preventDefault();
                $('html, body').stop().animate({
                    scrollTop: target.offset().top
                }, 1000);
            }

        });
        
        });


    var placesValue;
    var map;
    function initMap() {

        //initialize the map
        var location = { lat: -27.469770, lng: 153.025131 };
        map = new google.maps.Map(document.getElementById("map"), {
        zoom: 8,
        center: location,
        });

        var marker_initial = new google.maps.Marker({
            postition: location,
            map:map
        })

        var restrictOptions = {
            componentRestrictions: { country: 'au' }
        };

        var searchBox = new google.maps.places.SearchBox(document.getElementById('from_places'));

        var markers = [];
        var contentString = [];
        var infowindow = [];
        var image = '@Url.Content("~/Content/img/rsz_1marker-clipart-green.png")';
        var icon1 = {
            url: '@Url.Content("~/Content/img/beachflag.png")',
            
            size: new google.maps.Size(35, 54),
            // The origin for this image is (0, 0).
            origin: new google.maps.Point(0, 0),
            // The anchor for this image is the base of the flagpole at (0, 32).
            anchor: new google.maps.Point(0, 32)
        };
        var icon_person = '@Url.Content("~/Content/img/newPerson.png")';

        $.get("@Url.Action("GetAllLocation","Home")", function (data, status) {

                    for (var i = 0; i < data.length; i++) {

                        markers[i] = new google.maps.Marker({
                    position: { lat: data[i].Lat, lng: data[i].Long },
                    map: map
                        });
                    
                    contentString[i] = '<div id="content">' + '<div id="siteNotice">'
                        + '</div>' + '<h4 id="firstHeading">' + data[i].clinicName + '</h1>' + '<div id="bodyContent">'
                        + '<p>is a public dental clinic in ' + data[i].Region + '. <br />Please contact <strong>' + data[i].contact + '</strong><br /> for appointments or enquiry.</p></div></div>';
                    infowindow[i] = new google.maps.InfoWindow({
                    content: contentString[i]
                });
                    var markerValue = markers[i]
                google.maps.event.addListener(markers[i], 'mouseover', (function (markerValue, i) {
                    return function () {
                    infowindow[i].open(map, markers[i]);
                }
            })(markers[i], i));
                google.maps.event.addListener(markers[i], 'mouseout', (function (markerValue, i) {
                return function () {
                    infowindow[i].close();
                }
            })(markers[i], i));

            };

            //console.log(data);

            var places;
            var newData;
            var filtered_data;
            //var from_places = new google.maps.places.Autocomplete(document.getElementById('from_places'), restrictOptions);

            //google.maps.event.addListener(from_places, 'place_changed', function () {
            //    var from_place = from_places.getPlace();
            //    var from_address = from_place.formatted_address;
            //    $('#origin').val(from_address);

            //})

            
            $('#submitButton').click(function() {
            //google.maps.event.addListener(searchBox, 'places_changed', function () 
                budget_input = document.getElementById('input').value;
                placesValue = document.getElementById('from_places').value;

                if (!budget_input || !placesValue) {
                    //alert("no input for budget.");
                    document.getElementById('warning').style.display = 'block';

                } else {
                    budget = parseFloat(budget_input);
                    document.getElementById('warning').style.display = 'none';
                    //document.getElementById('content').style.display = 'none';
                    //document.getElementById('content').removeClass("tab - pane active");
                    //document.getElementById('ClinicsMap').addClass("tab-pane active");
                    document.getElementById('ClinicsMap').style.display = 'inline';
                    //$('#priceTab').removeClass();
                    //document.getElementById('clinicsTab').style.color = '#57b87b';

                    //document.getElementById('toHotel').style.display = 'inline-block';
                
                console.log(budget);

                //delete all existing rows in table
                var tablelist = document.getElementById("myTable");
                console.log(tablelist.rows.length);
                for (var i = tablelist.rows.length - 1; i > 0; i--) {
                    tablelist.deleteRow(i);
                }
                console.log(tablelist.rows.length);

                places = searchBox.getPlaces();
                  if (typeof places != 'undefined') {
                        document.getElementById('map').style.display = 'block';
                }
                

                places = searchBox.getPlaces();
                    console.log(places.length);
        
                //bound
                var bounds = new google.maps.LatLngBounds();
                var i, place;
                var contentString_initial = "<div style='color:green;'><strong>You are Here</strong></div>"
                var infowindow_initial = new google.maps.InfoWindow({
                    content: contentString_initial
                });
            infowindow_initial.open(map, marker_initial);

                for (i = 0; place = places[i]; i++) {
                //console.log(place.geometry.location);
                bounds.extend(place.geometry.location);
                    marker_initial.setPosition(place.geometry.location);
                    marker_initial.setIcon(icon_person);
            };
            //console.log(places[0].geometry.location);

            //initialize markers
                for (var i = 0; i < markers.length; i++) {
                    if (markers[i].icon) {
                        markers[i].setIcon();
                    }                    
                }

            map.fitBounds(bounds);
            map.setZoom(11);

            var latitude1 = places[0].geometry.location.lat();
            var longitude1 = places[0].geometry.location.lng();
            //distance_v = getDistanceFromLatLonInKm(latitude1, longitude1, data[2].Lat, data[2].Long) * 1.22;
            //console.log(distance_v);
            newData = addDistance(data, latitude1, longitude1);
                filtered_data = filterByBudget(newData, budget);
                if (filtered_data.length < 1) {
                    document.getElementById('noClinics').style.display = 'block';
                } else {
                    document.getElementById('noClinics').style.display = 'none';
                }


                //console.log(filtered_data);
                var table = $('#myTable').DataTable({
                data: filtered_data,
                    destroy: true,
                    empty: true,
                    language: {
                        searchPlaceholder: "Search by Clinic Name"
                    },
                    columns: [
                        {
                            "className": 'details-control',
                            "orderable": false,
                            "data": null,
                            "defaultContent": ''
                        },
                        { 'data': 'clinicName' },
                        {
                            'data': 'distance',
                            'render': function (dist) {
                                return dist + "  km";
                            },
                            'searchable': false,
                            'sortable': false
                        },
                        {
                            'data': 'totalCost',
                            'render': function (totalcost) {
                                return "$" + totalcost;
                            },
                            'searchable': false
                        },
                        {
                            'data': 'Lat',
                            'visible': false
                        },
                        {
                            'data': 'Long',
                            'visible': false
                        }
                    ],
                    'order': [[3, 'asc']]
                    
                });

                $('#myTable tbody').on('click', 'td.details-control', function () {
                    var tr = $(this).closest('tr');
                    var row = table.row(tr);
                    console.log(tr);
                    var c_name = tr.children(":nth-child(2)").text();
                    console.log(c_name);
                    var markerLat;
                    var markerLong;
                    var clinicN;
                    var contactN;
                    data.forEach(function (d) {
                        if (d.clinicName.trim() == c_name.trim()) {
                            markerLat = d.Lat;
                            markerLong = d.Long;
                            clinicN = d.clinicName;
                            contactN = d.contact;
                            region = d.Region;
                        }
                    });
                    if (row.child.isShown()) {
                        row.child.hide();
                        tr.removeClass('shown');

                        markers.forEach(function (m) {
                            var mlat = m.getPosition().lat();
                            var mlng = m.getPosition().lng();
                            if (mlat == markerLat || mlng == markerLong) {
                                m.setIcon(image);
                            }
                        });
                        
                    } else {
                        //console.log(row.data());
                        row.child(format(row.data())).show();
                        tr.addClass('shown');
                        //console.log(tr.children(":nth-child(2)").text());
                        markers.forEach(function (m) {
                            var mlat = m.getPosition().lat();
                            var mlng = m.getPosition().lng();
                            if (mlat == markerLat || mlng == markerLong) {
                                m.setIcon(icon1);
                                var content_String = '<div id="content">' + '<div id="siteNotice">'
                                    + '</div>' + '<h4 id="firstHeading">' + clinicN + '</h1>' + '<div id="bodyContent">'
                                    + '<p>is a public dental clinic in ' + region + '. <br />Please contact <strong>' + contactN + '</strong><br /> for appointments or enquiry.</p></div></div>';
                                var info_window = new google.maps.InfoWindow({
                                    content: content_String
                                });
                                info_window.open(map, m);
                            }
                        });
                    }
                });

                //$('#myTable tbody').on('click', 'tr', function () {
                //    var c_name = $(this).children(":nth-child(2)").text();
                    
                //    var markerLat;
                //    var markerLong;
                //    var clinicN;
                //    var contactN;
                //    data.forEach(function (d) {
                //        if (d.clinicName.trim() == c_name.trim()) {
                //            markerLat = d.Lat;
                //            markerLong = d.Long;
                //            clinicN = d.clinicName;
                //            contactN = d.contact;
                //        }
                //    });
                //    //console.log(markerLat);
                //    markers.forEach(function (m) {
                //        var mlat = m.getPosition().lat();
                //        var mlng = m.getPosition().lng();
                //        if (mlat == markerLat || mlng == markerLong) {
                //            m.setIcon(icon1);
                //            var content_String = '<div id="content">' + '<div id="siteNotice">'
                //                + '</div>' + '<h4 id="firstHeading">' + clinicN + '</h1>' + '<div id="bodyContent">'
                //                + '<p>is a public dental clinic. <br />Please contact <strong>' + contactN + '</strong> for appointments or enquiry.</p></div></div>';
                //            var info_window = new google.maps.InfoWindow({
                //                content: content_String
                //            });
                //            info_window.open(map, m);
                //        }
                //    });

                //});

                function format(d) {
                    return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
                        '<tr>' +
                        '<td>Contact Number:</td>' +
                        '<td>' + d.contact + '</td>' +
                        '</tr>' +
                        '<tr>' +
                        '<td>Region:</td>' +
                        '<td>' + d.Region + '</td>' +
                        '</tr>' +
                        //'<tr>' +
                        //'<td>Extra info:</td>' +
                        //'<td>And any further details here (images etc)...</td>' +
                        //'</tr>' +
                        '</table>';
                }
            //change the marker for filtered_data
                changeMarker(filtered_data);
            }
            })

            function changeMarker(dataset) {

                for (var i = 0; i < markers.length; i++) {
                    current_marker = markers[i];
                    var lat_marker = current_marker.getPosition().lat();
                    var lng_marker = current_marker.getPosition().lng();
                    dataset.forEach(function (d) {

                        if (parseFloat(d.Lat) == parseFloat(lat_marker) || parseFloat(d.Long) == parseFloat(lng_marker)) {
                            current_marker.setIcon(image);
                            //console.log(current_marker);
                        }
                    });

                };
            }
            

            function addDistance(dataset, lat1, long1) {
                //the total amount of each site
                dataset.forEach(function (d) {
                    var dis_number = getDistanceFromLatLonInKm(lat1, long1, d.Lat, d.Long) * 1.22;
                    d["distance"] = dis_number.toFixed(2);
                    var cos_number = d.distance * 0.1458 + 243;//initialize
                    d["totalCost"] = cos_number.toFixed(2);

                });
                return dataset;
            };

            function getDistanceFromLatLonInKm(lat1, lon1, lat2, lon2) {
                var R = 6371; // Radius of the earth in km
                var dLat = deg2rad(lat2 - lat1);  // deg2rad below
                var dLon = deg2rad(lon2 - lon1);
                var a =
                    Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                    Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) *
                    Math.sin(dLon / 2) * Math.sin(dLon / 2)
                    ;
                var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
                var d = R * c; // Distance in km
                return d;
            }

            function deg2rad(deg) {
                return deg * (Math.PI / 180)
            }

            function filterByBudget(dataset, bud) {
                var filtered = [];
                dataset.forEach(function (d) {
                    if (parseFloat(d.totalCost) <= bud) {
                        filtered.push(d);
                    }
                });
                console.log(filtered);
                return filtered;
            }
            //calculate distance function
            //$('#distance_form').submit(function (e) {
            //    e.preventDefault();
            //    calculateDistance();
            //})

            //function calculateDistance() {
            //    var distance_v;
            //    //var origin = $('#origin').val();
            //    var results = [];
            //    var latitude1 = places[0].geometry.location.lat();
            //    var longitude1 = places[0].geometry.location.lng();
            //    console.log(latitude1);
            //    var origin = new google.maps.LatLng(latitude1, longitude1)
            //    var destinations = [];
            //        destinations[0] = new google.maps.LatLng(data[0].Lat, data[0].Long);
            //        var service = new google.maps.DistanceMatrixService();

            //        service.getDistanceMatrix({
            //            origins: [origin],
            //            destinations: [destinations[0]],
            //            travelMode: google.maps.TravelMode.DRIVING,
            //            unitSystem: google.maps.UnitSystem.METRIC,
            //            avoidHighways: false,
            //            avoidTolls: false
            //        }, function (response, status) {
            //            if (status != google.maps.DistanceMatrixStatus.OK) {
            //                $('#result').html(err);
            //            } else {
            //                //var origin = response.originAddresses[0];
            //                var destination = response.destinationAddresses[0];
            //                if (response.rows[0].elements[0].status === "ZERO_RESULTS") {
            //                    //$('#result').html("Better get on a plane. There are no roads between your location and the destination clinic: " + destination);
            //                    var noroads = "noRoads";
            //                    distance_v = noroads;
            //                } else {
            //                    var distance = response.rows[0].elements[0].distance;
            //                    var duration = response.rows[0].elements[0].duration;
            //                    console.log(response.rows[0].elements[0].distance);
            //                    var distance_in_kilo = distance.value / 1000;
            //                    var distance_in_meter = distance.value;
            //                    var cost = distance.value * 2;
            //                    var duration_text = duration.text;
            //                    //var duration_value = duration.value;
            //                    //$('#in_kilo').text(distance_in_kilo.toFixed(2));

            //                    //$('#in_meter').text(distance_in_meter);
            //                    //$('#duration_text').text(duration_text);
            //                    //$('#from').text(origin);
            //                    //$('#to').text(destination);

            //                    distance_v = distance_in_kilo;

            //                }
            //                console.log(distance_v);
            //            }


            //        });
            //    return distance_v;
            //}

        })
}
</script>


<!--load script for tabs-->
<script>
    // script for tab steps
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

        var href = $(e.target).attr('href');
        var $curr = $(".process-model  a[href='" + href + "']").parent();

        $('.process-model li').removeClass();

        $curr.addClass("active");
        $curr.prevAll().addClass("visited");
    });
    // end  script for tab steps

</script>
<!--render scripts for information tab-->
<script>

    $(document).on("click", ".naccs .menu div", function () {
        var numberIndex = $(this).index();

        if (!$(this).is("active1")) {
            $(".naccs .menu div").removeClass("active1");
            $(".naccs ul li").removeClass("active1");

            $(this).addClass("active1");
            $(".naccs ul").find("li:eq(" + numberIndex + ")").addClass("active1");

            var listItemHeight = $(".naccs ul")
                .find("li:eq(" + numberIndex + ")")
                .innerHeight();
            $(".naccs ul").height(listItemHeight + "px");
        }
    });

</script>

<div class="banner" style="background: url('../Content/img/cavities-banner.jpg') no-repeat center top;min-height:400px;">
    <div class="bg-color" style="min-height:400px;">
        <div class="container">
            <div class="row">
                <div class="banner-text text-center">
                    <div class="text-border" style="border:0px">
                        @*<h2 class="text-dec" style="padding-top:0px;padding-bottom:0px"><img src="~/Content/img/Logo.png" width="138px" height="70px" style="margin-top:0px;"></h2>*@
                    </div>
                    <div class="intro-para text-center quote" style="margin-top:0">
                        <p class="big-text" style="font-size:35px">Cavities</p>
                        <p class="small-text" style="width:60%;margin-left:20%;font-size:18px;">Cavities are what you get from tooth decay -- damage to the tooth. Tooth decay can affect both the outer coating of a tooth and the inner layer.</p>
                        @*<a href="#courses" class="btn get-quote" style="font-size:21px">Select Your Dental Issu</a>*@
                    </div>
                    <a href="#courses" class="mouse-hover" style="display:none;">
                        <div class="mouse" style="display:none;"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="design-process-section" id="process-tab">
    <div class="container" style="width:82%" >
        <div class="row" width="100%">
            <div class="col-xs-12" style="width:100%;padding-right:0px;padding-left:0px">
                <!-- design process steps-->
                <!-- Nav tabs -->
                <ul class="nav nav-tabs process-model more-icon-preocess" style="max-width:800px;margin-left:24%;" role="tablist">
                    <li role="presentation">
                        <a href='@Url.Action("Index", "Home")#courses'>
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <p>Dental Problems</p>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href='@Url.Action("Cavities", "Home")'>
                            <i class="fa fa-clipboard" aria-hidden="true"></i>
                            <p>Problem Details</p>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="@Url.Action("Cavities", "Home")#feature">
                            <i class="fa fa-qrcode" aria-hidden="true"></i>
                            <p>Category Selection</p>
                        </a>
                    </li>
                    <li role="presentation"  id="priceTab" style="display:none">
                        <a href="#content">
                            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                            <p>Price and Budget</p>
                        </a>
                    </li>
                    <li role="presentation" class="active">
                        <a aria-controls="ClinicsMap" id="clinicsTab">
                            @*<a href="#reporting" aria-controls="reporting" role="tab" data-toggle="tab"/>*@
                            <i class="fa fa-send-o" aria-hidden="true"></i>
                            <p>Price and Clinics</p>
                        </a>
                    </li>
                </ul>
                <!-- end design process steps-->
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="discover">
                        <div class="design-process-content">
                            <h3 class="semi-bold">Dental Problems</h3>
                            <p></p>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="strategy">
                        <div class="design-process-content">

                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="optimization">
                        <div class="design-process-content">
                            <h3 class="semi-bold">Optimization</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid unt ut laoreet dolore magna aliquam erat volutpat</p>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="content">
                        <div class="design-process-content" style="padding-right:3%">
                            <!--Pricing-->
                            <section id="pricing" class="section-padding" style="width:100%;margin-bottom:0;background: linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);">
                                <div class="container">
                                    <div class="row">
                                        <div class="header-section text-center">
                                            <h2>Cost of Dental Treatment</h2>
                                            <p style="color:#4B4B4C;width:75%;margin-left:10%;margin-bottom:30px">This price may be subjective to change based on the severity of dental problem and the treatment suggested by the doctor.</p>
                                            <hr class="bottom-line">

                                            <p style="margin-bottom:25px;font-size:21px"><strong>Estimated treatment cost for Cavities is: </strong></p>
                                        </div>

                                        <div class="col-md-3 col-sm-3" style="margin-left:36%">
                                            <div class="price-table" style="height:3%">
                                                <!-- Plan  -->
                                                <div class="pricing-head">
                                                    <h4>Teeth Fillings</h4>
                                                    <span class="fa fa-usd curency"></span> <span class="amount" style="font-size:32px">166~321</span>
                                                </div>
                                                <!-- Plean Detail -->
                                                @*<div class="price-in mart-15">
                                          <a href="#" class="btn btn-bg red btn-block">PURCHACE</a>
                                        </div>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!--/ Pricing-->
                            <!--budget section-->
                            <div>
                                @*<div class="header-section text-center" style="margin-top:35px;padding-top:20px">
                                    <div id="fontbody" style="margin-top:0">
                                        <div class="font1">&ensp; Get the best of us</div>
                                        <div class="font1">
                                            <span>by telling us your budget  &ensp; &ensp; </span>
                                        </div>
                                    </div>
                                    
                                    <p style="margin-top:30px">Enter your budget to check out nearby dental service within your budget</p>
                                    <hr class="bottom-line">
                                </div>
                                <div class="container1">
                                    <div class="container__item">
                                        <form class="form1">
                                            <span style="font-size:23px;">$  </span><input type="number" min="1" max="999" id="input" class="form1__field" placeholder="Your budget (e.g. 395)" style="margin-top:28px;" />
                                            <button type="button" id="submitButton"
                                                    class="btn btn--primary btn--inside uppercase" style="font-size:18px">
                                                Submit
                                            </button>
                                            <div id="warning" style="display:none;color:red;font-size:19px;position:relative">Please enter a value for your budget above to submit.</div>
                                        </form>
                                    </div>

                                    <div style="margin-top:30px;margin-left:70%">
                                        <h4>Do not have a budget in mind?</h4>
                                        <a href='@Url.Action("AllClinics", "Home")' class="btn btn--primary btn--inside uppercase" style="font-size:15px;padding:6px;">Check for all dental clinics></a>
                                    </div>
                                </div>*@

                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane active" id="ClinicsMap" style="padding-right:0;width:100%;">
                        <div class="design-process-content" style="padding-right:0;padding-left:0;padding-top:0;padding-bottom:20%;width:100%;height:120%">
                            <div class="container" style="width:100%;margin-right:5px;margin-top:0;padding:0;">
                                <div class="header-section" style="margin-top:0px;padding-top:0px">
                                    <div class="text-center" style="margin-top:50px;margin-bottom:30px">
                                        <h3>
                                            You are a priority case, you will be put into the next available timeslot.<br /><br/>
                                            Scroll down to view the price and hospitals near you.
                                        </h3>
                                        <a href="#hero1" id="top"><img style="height:45px;width:83px;margin-bottom:40px;margin-top:30px;" src="~/Content/img/scrolldown1.png" /></a>
                                    </div>
                                    <div id="hero1" class="hero" style="margin-left:0;margin-top:0px;">
                                        <div class="inner" style="padding-bottom:30px;padding-top:23px">

                                            <div class="left-element" style="width:47%;margin-left:15%;margin-top:45px">
                                                <div class="header-section text-center">
                                                    <h2 style="color:white;">Cost of Dental Treatment</h2>
                                                    <p style="width:75%;margin-left:10%;margin-bottom:25px">This price may be subjective to change based on the severity of dental problem and the treatment suggested by the doctor.</p>
                                                    <hr class="bottom-line">

                                                    <p style="margin-bottom:25px;font-size:21px"><strong>Estimated treatment cost for Cavities is: </strong></p>
                                                </div>
                                            </div>

                                            <div class="right-element" style="margin-left:38%;padding-right:0px;margin-top:45px">
                                                <div class="col-md-3 col-sm-3" style="margin-top:3%;width:70%">
                                                    <div class="price-table" style="height:3%;box-shadow: -5px 0 5px -5px #333;border: 1px solid #ccc;width:80%">
                                                        <!-- Plan  -->
                                                        <div class="pricing-head">
                                                            <h4>Teeth Fillings</h4>
                                                            <span class="fa fa-usd curency"></span> <span class="amount" style="font-size:26px">166~321</span>
                                                        </div>
                                                        <!-- Plean Detail -->
                                                        @*<div class="price-in mart-15">
                      <a href="#" class="btn btn-bg red btn-block">PURCHACE</a>
                    </div>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                    <div id="budgetlocation"></div>
                                    <div id="fontbody" style="margin-top:2%">
                                        <div class="font1">&ensp; Get the best of us</div>
                                        <div class="font1">
                                            <span>by telling us your budget and location </span>
                                        </div>
                                    </div>
                                    @*<h2>GET THE BEST OF US BY TELLING US YOUR BUDGET</h2>*@
                                    <p class="text-center" style="margin-top:2px;margin-bottom:20px">Find out nearby dental services within your budget by entering your budget and location below.</p>
                                    <a href="#hero2" id="top" style="margin-left:47%;margin-top:26px;"><img style="height:45px;width:83px;margin-bottom:55px" src="~/Content/img/scrolldown1.png" /></a>
                                    @*<button class="btn btn--primary btn--inside uppercase" id="scroll" onclick="location.href='#hero2'">Scroll</button>*@
                                    @*<hr class="bottom-line">*@
                                </div>
                                <div class="container1">
                                    <div class="container__item">
                                        <form class="form1">
                                            
                                        </form>
                                    </div>

                                    @*<div style="margin-top:30px;margin-left:68%">
                                        <h4>Do not have a budget in mind?</h4>
                                        <a href='@Url.Action("AllClinics", "Home")' class="btn btn--primary btn--inside uppercase" style="font-size:15px;padding:6px;">Check for all dental clinics></a>
                                    </div>*@
                                </div>
                                <div class="header-section text-center" id="ClinicHeader" style="margin-top:10px;padding-bottom:25px">
                                    <div class="hero" id="hero2">
                                        <div class="inner" style="padding-bottom:30px">
                                            <h2 style="padding-top:4%;color:white;font-size:28px">
                                                <br />
                                                Queensland Dental Clinics
                                            </h2>

                                            <p style="margin-bottom:20px;font-size:18px;margin-top:15px">
                                                'Total Cost' includes the dental treatment cost shown above and the transport cost by driving. <br />locate the clinic on the map by clicking on the "+" button.
                                            </p>
                                            <hr class="bottom-line">
                                            <div class="form-group" style="width:100%;margin-top:10px;margin-bottom:23px;">
                                                <label style="font-family:'Agency FB';font-size:30px;color:white;display:block">Please enter your budget: </label>
                                                <span style="font-size:23px;color:white">$  </span>
                                                <input type="number" min="1" max="999" id="input" class="form1__field" placeholder="Your budget (e.g. 395)" style="width:28%;margin-top:0px;height:45px" />


                                                <label style="font-family:'Agency FB';font-size:30px;color:white;display:block;margin-top:10px">Your current location: </label>
                                                <input type="text" id="from_places" class="form-control" style="width:46%;margin-left:27%;height:45px" placeholder="location or address(e.g.Sunshine Coast Airport)" />
                                                <button type="button" id="submitButton" 
                                                        class="btn btn--primary btn--inside uppercase" style="margin-left:2%;margin-top:20px;font-size:18px;transition: all 0.3s ease-in-out;">
                                                    Submit
                                                </button>
                                                <button id="reset" onClick="window.location.reload()" onclick="location.href='@Url.Action("Emergency_Cavities","Home")#budgetlocation'"
                                                        class="btn btn--primary btn--inside uppercase" style="margin-top:20px;font-size:18px;transition: all 0.3s ease-in-out;margin-left:10px">
                                                    Reset All
                                                </button>
                                                <div id="warning" style="display:none;color:lightcoral;font-size:22px;position:relative">Please enter your budget and location above before submitting.</div>
                                                <input id="origin" type="hidden" name="origin" required />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="display: inline-block;width:45%;left: 0;">

                                    <div class="row">
                                        <div class="col-md-10" width="100%" style="margin-right:2px">
                                            <div style="display:none"><a href="#" id="get_location">Get your current location</a></div>

                                            <!--a form for address input and result-->
                                            @*<form id="distance_form">*@

                                            @*<input type="submit" value="See nearby clinics" class="btn btn-primary" />*@
                                            @*</form>*@

                                            <div id="result" style="margin-top:0px">
                                                <div class="text-center" style="font-size:22px;background:rgba(0,0,0,0.8);color:white;margin-bottom:10px">Clinics Wihin your Budget</div>
                                                <table id="myTable" style="width:100%" class="cell-border compact stripe hover order-column">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Clinic Name</th>
                                                            <th>Distance</th>
                                                            <th>Total Cost</th>
                                                            <th style="color:white">Lat</th>
                                                            <th style="color:white">Long</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tablebody"></tbody>
                                                </table>
                                                <div class="text-center" style="display:none;font-size:23px;color:#5FCF80" id="noClinics">
                                                    There are no public dental clinics within your budget.

                                                </div>

                                            </div>
                                        </div>

                                    </div>


                                </div>
                                <!--section for map-->
                                <div style="display: inline-block;position:absolute;width:61%;right: 0;">

                                    <div id="map" style="display:none;height:550px;width:100%;margin:0;padding:0"></div>
                                    <div style="margin-bottom:20px">
                                        <strong style="font-size:19px;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Legend:</strong>
                                        <table style="width:100%">
                                            <tr style="width:80%;">
                                                <td style="padding-bottom:12px">
                                                    <img src="~/Content/img/newPerson.png" style="width:25px;height:36px" />
                                                    Your current location
                                                </td>
                                                <td style="padding-bottom:12px">
                                                    <img src="~/Content/img/rsz_1marker-clipart-green.png" style="width:23px;height:36px" />
                                                    Dental Clinics within budget
                                                </td>
                                            </tr>
                                            <tr style="width:80%">

                                                <td>
                                                    <img src="~/Content/img/beachflag.png" style="width:23px;height:36px" />
                                                    Current Selected Clinic
                                                </td>
                                                <td>
                                                    <img src="~/Content/img/marker_default.jpg" style="width:23px;height:36px" />
                                                    Dental Clinics exceeding budget
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div id="location"></div>

                                    <div height="30px"></div>
                                </div>


                            </div>

                        </div>
                        <div class="header-section text-center">
                            <a id="goBack" class="btn btn--primary btn--inside uppercase" style="margin-top:30px;margin-bottom:20px;float:left;margin-left:2%;font-weight:bolder;font-size:16px;display:block" href='@Url.Action("Cavities","Home")'> < Previous </a>
                            <a id="toHotel" class="btn btn--primary btn--inside uppercase" style="margin-top:35px;margin-bottom:20px;float:right;font-weight:bolder;font-size:14px;letter-spacing:3px;padding:15px 12px 15px 12px" href='@Url.Action("Hotels", "Home")'> Find Accomodations nearby clinics </a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>






