
@{
    ViewBag.Title = "Dental Issues - Gap Between Teeth";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/js/jquery_3.3.1.js"></script>
@*<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/boostrap.min.css"></script>*@
<script src="~/Content/js/jquery.dataTables.min.js"></script>
@*<script src="http://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>*@
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />

<link href="~/Content/css/StyleSheet1.css" rel="stylesheet" />
<link href="~/Content/css/problems.css" rel="stylesheet" />
<link href="~/Content/css/font.css" rel="stylesheet" />
<link href="~/Content/css/FixedHeader.css" rel="stylesheet" />
@*<script src="~/Content/js/showQuestion.js"></script>*@
<!--load css-->
<style>

    td.details-control {
        background: url('../resources/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('../resources/details_close.png') no-repeat center center;
    }

    img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
        max-width: none !important;
        max-height: none !important;
    }

    p {
        font-size: 18px;
    }

    .location1 {
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
        text-decoration: none;
        color: white;
        background-color: dodgerblue;
        padding-right: 5px;
        padding-left: 5px;
    }

        .location1:hover {
            text-decoration: none;
            color: darkblue;
        }
</style>
<!--load script for google map-->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDs7DFmUEpY4gmsmLmCIBNihn6trxxVChc&callback=initMap&libraries=places&language=en"></script>
<script>
    var budget;
    var budget_initial;
    var previousValue = $("#from_places").val();
    $(document).ready(function () {
        $('#submit').click(function () {
            var budget_initial = document.getElementById('input1').value;
            if (!budget_initial) {
                //alert("no input for budget.");
                document.getElementById('warning1').style.display = 'block';
                $('#submit').bind('click', function () {
                    window.location = "#";
                });
            } else {

                    window.location = "#banner";

                document.getElementById('input').value = parseFloat(budget_initial);
                document.getElementById('warning1').style.display = 'none';
                document.getElementById('content').style.display = 'none';
                //document.getElementById('content').removeClass("tab - pane active");
                //document.getElementById('ClinicsMap').addClass("tab-pane active");
                document.getElementById('ClinicsMap').style.display = 'inline';
                $('#priceTab').removeClass();
                document.getElementById('clinicsTab').style.color = '#57b87b';
                document.getElementById('goBack').style.display = 'block';
            }
            console.log(budget);
        });
        $(document).on('click', '#goBack', function () {
            $('#priceTab').addClass('active');
            document.getElementById('content').style.display = 'inline';
            document.getElementById('ClinicsMap').style.display = 'none';
        });
        $(document).on('click', '#priceTab', function () {
            $('#priceTab').addClass('active');
            document.getElementById('content').style.display = 'inline';
            document.getElementById('ClinicsMap').style.display = 'none';
        });
        $(document).on('click', '#reset', function () {
            //window.location.reload();
            window.location.href = "@Url.Action("Emergency_GapBetweenTeeth", "Home")#ClinicsMap";
            $('#priceTab').removeClass();
            document.getElementById('clinicsTab').style.color = '#57b87b';
            document.getElementById('content').style.display = 'none';
            document.getElementById('ClinicsMap').style.display = 'inline';
        });


        $("#from_places").keyup(function (event) {
            var currentValue = $(this).val();
            if (event.keyCode === 13) {
                //previousValue = currentValue;
                $("#submitButton").click();
            }
        });
        $('a[href^="#"]').on('click', function (event) {

            var target = $(this.getAttribute('href'));

            if (target.length) {
                event.preventDefault();
                $('html, body').stop().animate({
                    scrollTop: target.offset().top
                }, 1000);
            }

        });

        });


    var placesValue;
    var map;
    function initMap() {

        //initialize the map
        var location = { lat: -27.469770, lng: 153.025131 };
        map = new google.maps.Map(document.getElementById("map"), {
        zoom: 8,
        center: location,
        });

        var marker_initial = new google.maps.Marker({
            postition: location,
            map:map
        })

        var restrictOptions = {
            componentRestrictions: { country: 'au' }
        };

        //var searchBox = new google.maps.places.Autocomplete(document.getElementById('from_places'), restrictOptions);
        var searchBox = new google.maps.places.SearchBox(document.getElementById('from_places'));

        map.addListener('bounds_changed', function () {
            searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        var contentString = [];
        var infowindow = [];
        var image = '@Url.Content("~/Content/img/rsz_1marker-clipart-green.png")';
        var icon1 = {
            url: '@Url.Content("~/Content/img/beachflag.png")',
            size: new google.maps.Size(35, 54),
            // The origin for this image is (0, 0).
            origin: new google.maps.Point(0, 0),
            // The anchor for this image is the base of the flagpole at (0, 32).
            anchor: new google.maps.Point(0, 32)
        };
        var icon_person = '@Url.Content("~/Content/img/newPerson.png")';

        $.get("@Url.Action("GetAllLocation","Home")", function (data, status) {

                    for (var i = 0; i < data.length; i++) {

                        markers[i] = new google.maps.Marker({
                    position: { lat: data[i].Lat, lng: data[i].Long },
                    map: map
                        });

                    contentString[i] = '<div id="content">' + '<div id="siteNotice">'
                        + '</div>' + '<h4 id="firstHeading">' + data[i].clinicName + '</h1>' + '<div id="bodyContent">'
                        + '<p style="font-size:15px;line-height: 1.3;">is a public dental clinic in ' + data[i].Region + '. <br />Please contact <strong>' + data[i].contact + '</strong>for appointments or enquiry.</p></div></div>';
                    infowindow[i] = new google.maps.InfoWindow({
                        content: contentString[i],
                        maxWidth:280,
                });
                    var markerValue = markers[i]
                google.maps.event.addListener(markers[i], 'mouseover', (function (markerValue, i) {
                    return function () {
                    infowindow[i].open(map, markers[i]);
                }
            })(markers[i], i));
                google.maps.event.addListener(markers[i], 'mouseout', (function (markerValue, i) {
                return function () {
                    infowindow[i].close();
                }
            })(markers[i], i));

            };

            //console.log(data);

            var places;
            var newData;
            var filtered_data;
            //var from_places = new google.maps.places.Autocomplete(document.getElementById('from_places'), restrictOptions);



            $('#submitButton').click(function() {
            //google.maps.event.addListener(searchBox, 'places_changed', function ()
                budget_input = document.getElementById('input').value;
                placesValue = document.getElementById('from_places').value;

                if (!budget_input || !placesValue) {
                    //alert("no input for budget.");
                    document.getElementById('warning').style.display = 'block';

                } else {
                    budget = parseFloat(budget_input);
                    document.getElementById('warning').style.display = 'none';
                    //document.getElementById('content').style.display = 'none';
                    //document.getElementById('content').removeClass("tab - pane active");
                    //document.getElementById('ClinicsMap').addClass("tab-pane active");
                    document.getElementById('ClinicsMap').style.display = 'inline';
                    //$('#priceTab').removeClass();
                    //document.getElementById('clinicsTab').style.color = '#57b87b';

                    //document.getElementById('toHotel').style.display = 'inline-block';

                console.log(budget);

                //delete all existing rows in table
                var tablelist = document.getElementById("myTable");
                console.log(tablelist.rows.length);
                for (var i = tablelist.rows.length - 1; i > 0; i--) {
                    tablelist.deleteRow(i);
                }
                console.log(tablelist.rows.length);

                places = searchBox.getPlaces();
                  if (typeof places != 'undefined') {
                        document.getElementById('map').style.display = 'block';
                }

                    console.log(places.length);

                //bound
                var bounds = new google.maps.LatLngBounds();
                var i, place;
                var contentString_initial = "<div style='color:green;'><strong>You are Here</strong></div>"
                var infowindow_initial = new google.maps.InfoWindow({
                    content: contentString_initial
                });
            infowindow_initial.open(map, marker_initial);

                for (i = 0; place = places[i]; i++) {
                //console.log(place.geometry.location);
                bounds.extend(place.geometry.location);
                    marker_initial.setPosition(place.geometry.location);
                    marker_initial.setIcon(icon_person);
            };
            //console.log(places[0].geometry.location);

            //initialize markers
                for (var i = 0; i < markers.length; i++) {
                    if (markers[i].icon) {
                        markers[i].setIcon();
                    }
                }

            map.fitBounds(bounds);
            map.setZoom(11);

            var latitude1 = places[0].geometry.location.lat();
            var longitude1 = places[0].geometry.location.lng();
            //distance_v = getDistanceFromLatLonInKm(latitude1, longitude1, data[2].Lat, data[2].Long) * 1.22;
            //console.log(distance_v);
            newData = addDistance(data, latitude1, longitude1);
            filtered_data = filterByBudget(newData, budget);

                if (filtered_data.length < 1) {
                    document.getElementById('noClinics').style.display = 'block';
                } else {
                    document.getElementById('noClinics').style.display = 'none';
                }


                //console.log(filtered_data);
                var table = $('#myTable').DataTable({
                data: filtered_data,
                    destroy: true,
                    empty: true,
                    language: {
                        searchPlaceholder: "Search by Clinic Name"
                    },
                    columns: [
                        {
                            "className": 'details-control',
                            "orderable": false,
                            "data": null,
                            "defaultContent": ''
                        },
                        {
                            'data': 'clinicName',
                            'sortable': false
                        },
                        {
                            'data': 'distance',
                            'render': function (dist) {
                                return dist + "  km";
                            },
                            'searchable': false,
                            'sortable': false
                        },
                        {
                            'data': 'totalCost',
                            'render': function (totalcost) {
                                return "$" + totalcost;
                            },
                            'searchable': false
                        },
                        {
                            'data': 'Lat',
                            'visible': false
                        },
                        {
                            'data': 'Long',
                            'visible': false
                        },
                        {
                            'data': 'location',
                            'render': function (location) {
                                return "<a class='location1' href='" + location + "' target='_blank'>Get Direction</a>";
                            },
                            'searchable': false,
                            'sortable': false,
                        },
                    ],
                    'order': [[3, 'asc']]

                });

                $('#myTable tbody').on('click', 'td.details-control', function () {
                    var tr = $(this).closest('tr');
                    var row = table.row(tr);
                    //console.log(tr);
                    var c_name = tr.children(":nth-child(2)").text();
                    //console.log(c_name);
                    var markerLat;
                    var markerLong;
                    var clinicN;
                    var contactN;
                    var region;
                    data.forEach(function (d) {
                        if (d.clinicName.trim() == c_name.trim()) {
                            markerLat = d.Lat;
                            markerLong = d.Long;
                            clinicN = d.clinicName;
                            contactN = d.contact;
                            region = d.Region;
                        }
                    });
                    console.log(contactN);

                    if (row.child.isShown()) {
                        row.child.hide();
                        tr.removeClass('shown');

                        markers.forEach(function (m) {
                            var mlat = m.getPosition().lat();
                            var mlng = m.getPosition().lng();
                            if (mlat == markerLat || mlng == markerLong) {
                                m.setIcon(image);
                            }
                        });

                    } else {
                        //var rowdata = row.data();
                        //console.log(rowdata);
                        //console.log(tr.children(":nth-child(2)").text());
                        row.child(format(contactN,region)).show();
                        tr.addClass('shown');
                        console.log(tr.children(":nth-child(2)").text());
                        markers.forEach(function (m) {
                            var mlat = m.getPosition().lat();
                            var mlng = m.getPosition().lng();
                            if (mlat == markerLat || mlng == markerLong) {
                                m.setIcon(icon1);
                                var content_String = '<div id="content">' + '<div id="siteNotice">'
                                    + '</div>' + '<h4 id="firstHeading">' + clinicN + '</h1>' + '<div id="bodyContent">'
                                    + '<p style="font-size:15px;line-height: 1.3;">is a public dental clinic in ' + region + '. <br />Please contact <strong>' + contactN + '</strong>for appointments or enquiry.</p></div></div>';
                                var info_window = new google.maps.InfoWindow({
                                    content: content_String,
                                    maxWidth: 280,
                                });
                                info_window.open(map, m);
                            }
                        });
                    }
                });

                //$('#myTable tbody').on('click', 'tr', function () {
                //    var c_name = $(this).children(":nth-child(2)").text();

                //    var markerLat;
                //    var markerLong;
                //    var clinicN;
                //    var contactN;
                //    data.forEach(function (d) {
                //        if (d.clinicName.trim() == c_name.trim()) {
                //            markerLat = d.Lat;
                //            markerLong = d.Long;
                //            clinicN = d.clinicName;
                //            contactN = d.contact;
                //        }
                //    });
                //    //console.log(markerLat);
                //    markers.forEach(function (m) {
                //        var mlat = m.getPosition().lat();
                //        var mlng = m.getPosition().lng();
                //        if (mlat == markerLat || mlng == markerLong) {
                //            m.setIcon(icon1);
                //            var content_String = '<div id="content">' + '<div id="siteNotice">'
                //                + '</div>' + '<h4 id="firstHeading">' + clinicN + '</h1>' + '<div id="bodyContent">'
                //                + '<p>is a public dental clinic. <br />Please contact <strong>' + contactN + '</strong> for appointments or enquiry.</p></div></div>';
                //            var info_window = new google.maps.InfoWindow({
                //                content: content_String
                //            });
                //            info_window.open(map, m);
                //        }
                //    });

                //});

                    function format(contact1,region1) {

                    return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
                        '<tr>' +
                        '<td>Contact Number:</td>' +
                        '<td>' + contact1 + '</td>' +
                        '</tr>' +
                        '<tr>' +
                        '<td>Region:</td>' +
                        '<td>' + region1 + '</td>' +
                        '</tr>' +
                        //'<tr>' +
                        //'<td>Extra info:</td>' +
                        //'<td>And any further details here (images etc)...</td>' +
                        //'</tr>' +
                        '</table>';
                }
            //change the marker for filtered_data
                changeMarker(filtered_data);
            }
            })

            function changeMarker(dataset) {

                for (var i = 0; i < markers.length; i++) {
                    current_marker = markers[i];
                    var lat_marker = current_marker.getPosition().lat();
                    var lng_marker = current_marker.getPosition().lng();
                    dataset.forEach(function (d) {

                        if (parseFloat(d.Lat) == parseFloat(lat_marker) || parseFloat(d.Long) == parseFloat(lng_marker)) {
                            current_marker.setIcon(image);
                            //console.log(current_marker);
                        }
                    });

                };
            }


            function addDistance(dataset, lat1, long1) {
                //the total amount of each site
                dataset.forEach(function (d) {
                    var dis_number = getDistanceFromLatLonInKm(lat1, long1, d.Lat, d.Long) * 1.25;
                    d["distance"] = dis_number.toFixed(2);
                    var cos_number = d.distance * 0.1458 + 678;//initialize
                    d["totalCost"] = cos_number.toFixed(2);
                    var latDes = d.Lat;
                    var longDes = d.Long;
                    var url = "https://www.google.com/maps/dir/?api=1";
                    var origin = "&origin=" + lat1 + "," + long1;
                    var destination = "&destination=" + latDes + "," + longDes;
                    var newUrl = new URL(url + origin + destination);

                    d["location"] = newUrl;
                    //console.log(newUrl);
                });
                return dataset;
            };

            function getDistanceFromLatLonInKm(lat1, lon1, lat2, lon2) {
                var R = 6371; // Radius of the earth in km
                var dLat = deg2rad(lat2 - lat1);  // deg2rad below
                var dLon = deg2rad(lon2 - lon1);
                var a =
                    Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                    Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) *
                    Math.sin(dLon / 2) * Math.sin(dLon / 2)
                    ;
                var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
                var d = R * c; // Distance in km
                return d;
            }

            function deg2rad(deg) {
                return deg * (Math.PI / 180)
            }

            function filterByBudget(dataset, bud) {
                var filtered = [];
                dataset.forEach(function (d) {
                    if (parseFloat(d.totalCost) <= bud) {
                        filtered.push(d);
                    }
                });
                console.log(filtered);
                return filtered;
            }


        })
}
</script>


<!--load script for tabs-->
<script>
    // script for tab steps
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

        var href = $(e.target).attr('href');
        var $curr = $(".process-model  a[href='" + href + "']").parent();

        $('.process-model li').removeClass();

        $curr.addClass("active");
        $curr.prevAll().addClass("visited");
    });
    // end  script for tab steps

</script>
<!--render scripts for information tab-->
<script>

    $(document).on("click", ".naccs .menu div", function () {
        var numberIndex = $(this).index();

        if (!$(this).is("active1")) {
            $(".naccs .menu div").removeClass("active1");
            $(".naccs ul li").removeClass("active1");

            $(this).addClass("active1");
            $(".naccs ul").find("li:eq(" + numberIndex + ")").addClass("active1");

            var listItemHeight = $(".naccs ul")
                .find("li:eq(" + numberIndex + ")")
                .innerHeight();
            $(".naccs ul").height(listItemHeight + "px");
        }
    });

</script>

<div class="banner" id="banner" style="background: url('../Content/img/cavities-banner.jpg') no-repeat center top;min-height:400px;">
    <div class="bg-color" style="min-height:400px;">
        <div class="container">
            <div class="row">
                <div class="banner-text text-center">
                    <div class="text-border" style="border:0px">
                        @*<h2 class="text-dec" style="padding-top:0px;padding-bottom:0px"><img src="~/Content/img/Logo.png" width="138px" height="70px" style="margin-top:0px;"></h2>*@
                    </div>
                    <div class="intro-para text-center quote" style="margin-top:0">
                        <p class="big-text" style="font-size:35px">Gap Between Teeth</p>
                        <p class="small-text" style="width:60%;margin-left:20%;font-size:18px;">A diastema is a space or gap between two teeth. It appears most often between the two upper front teeth. </p>
                        @*<a href="#courses" class="btn get-quote" style="font-size:21px">Select Your Dental Issu</a>*@
                    </div>
                    <a href="#courses" class="mouse-hover" style="display:none;">
                        <div class="mouse" style="display:none;"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="design-process-section" id="process-tab">
    <div class="container" style="width:82%">
        <div class="row" width="100%">
            <div class="col-xs-12" style="width:100%;padding-right:0px;padding-left:0px;">
                <!-- design process steps-->
                <!-- Nav tabs -->
                <div style="text-align:center">
                    <ul class="nav nav-tabs process-model more-icon-preocess" style="max-width:800px;margin-top:27px" role="tablist">
                        <li role="presentation">
                            <a href='@Url.Action("Index", "Home")#courses'>
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <p>Dental Problems</p>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href='@Url.Action("GapBetweenTeeth", "Home")'>
                                <i class="fa fa-clipboard" aria-hidden="true"></i>
                                <p>Problem Details</p>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="@Url.Action("GapBetweenTeeth", "Home")#feature">
                                <i class="fa fa-qrcode" aria-hidden="true"></i>
                                <p>Category Selection</p>
                            </a>
                        </li>
                        <li role="presentation" id="priceTab" class="active">
                            <a href="#content">
                                <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                <p>Price and Budget</p>
                            </a>
                        </li>
                        <li role="presentation">
                            <a aria-controls="ClinicsMap" id="clinicsTab">
                                @*<a href="#reporting" aria-controls="reporting" role="tab" data-toggle="tab"/>*@
                                <i class="fa fa-send-o" aria-hidden="true"></i>
                                <p>Find Dental Clinics</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- end design process steps-->
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="discover">
                        <div class="design-process-content">
                            <h3 class="semi-bold">Dental Problems</h3>
                            <p></p>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="strategy">
                        <div class="design-process-content">

                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="optimization">
                        <div class="design-process-content">
                            <h3 class="semi-bold">Optimization</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid unt ut laoreet dolore magna aliquam erat volutpat</p>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane active" id="content">
                        <div class="design-process-content" style="padding-right:0;padding-left:0;padding-top:0;padding-bottom:20%;width:100%;height:120%">
                            <div class="container" style="width:100%;margin-right:5px;margin-top:0;padding:0;">
                                <!--Pricing-->
                                <div class="header-section" style="margin-top:0px;padding-top:0px">
                                    <div class="text-center" style="margin-top:50px;margin-bottom:30px">
                                        <h3>
                                            You are a priority case, you will be put into the next available timeslot.<br /><br />
                                            Scroll down to view the price and hospitals near you.
                                        </h3>

                                        <a href="#hero1" id="top"><img style="height:45px;width:83px;margin-bottom:40px;margin-top:30px;" src="~/Content/img/scrolldown1.png" /></a>
                                    </div>
                                    <div id="hero1" class="hero" style="margin-left:0;margin-top:0px;">
                                        <div class="inner" style="padding-bottom:30px;padding-top:23px">

                                            <div class="left-element" style="width:47%;margin-left:15%;margin-top:45px">
                                                <div class="header-section text-center">
                                                    <h2 style="color:white;">Cost of Dental Treatment</h2>
                                                    <p style="width:75%;margin-left:10%;margin-bottom:25px">This price may be subjective to change based on the severity of dental problem and the treatment suggested by the doctor.</p>
                                                    <hr class="bottom-line">

                                                    <p style="margin-bottom:25px;font-size:21px"><strong>Estimated treatment cost for gap between teeth is: </strong></p>
                                                </div>
                                            </div>

                                            <div class="right-element" style="margin-left:38%;padding-right:0px;margin-top:45px">
                                                <div class="col-md-3 col-sm-3" style="margin-top:3%;width:70%">
                                                    <div class="price-table" style="height:3%;box-shadow: -5px 0 5px -5px #333;border: 1px solid #ccc;width:80%">
                                                        <!-- Plan  -->
                                                        <div class="pricing-head">
                                                            <h4>Veneers Direct / Indirect</h4>
                                                            @*<span class="fa fa-usd curency" style="padding-top:20px"></span>*@
                                                            <span class="amount" style="font-size:23px"><strong>$</strong> 341~1155</span>
                                                        </div>
                                                        <!-- Plean Detail -->
                                                        @*<div class="price-in mart-15">
                                                              <a href="#" class="btn btn-bg red btn-block">PURCHACE</a>
                                                            </div>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="budgetlocation"></div>
                                    <div id="fontbody" style="margin-top:5%">
                                        <div class="font1"> &ensp; &ensp; Get the best of us</div>
                                        <div class="font1">
                                            <span>by telling us your budget &ensp; &ensp; &ensp; &ensp; &ensp;</span>
                                        </div>
                                    </div>
                                    <p class="text-center" style="margin-top:25px;margin-bottom:20px">Find out nearby dental services within your budget by entering your budget below.</p>
                                    <div style="text-align:center">
                                        <form class="form1">
                                            <span style="font-size:24px;">$  </span><input type="number" min="1" max="999" id="input1" class="form1__field" placeholder="Your budget (e.g. 390)" style="font-size:18px;margin-left:6px;margin-top:28px;padding:4px;width:33%" />
                                            <button type="button" id="submit"
                                                    class="btn btn--primary btn--inside uppercase" style="font-size:18px">
                                                Submit
                                            </button>
                                            <div id="warning1" style="display:none;color:red;font-size:19px;position:relative;margin-left:30%;margin-right:30%">Please enter a value for your budget above to submit.</div>
                                        </form>
                                    </div>
                                    @*<hr class="bottom-line">*@
                                </div>

                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="ClinicsMap" style="padding-right:0;width:100%;">
                        <div class="design-process-content" style="padding-right:0;padding-left:0;padding-top:0;padding-bottom:20%;width:100%;height:120%">
                            <div class="container" style="width:100%;margin-right:5px;margin-top:0;padding:0;">

                                <div class="container1">
                                    <div class="container__item">
                                        <form class="form1"></form>
                                    </div>

                                    @*<div style="margin-top:30px;margin-left:68%">
                                            <h4>Do not have a budget in mind?</h4>
                                            <a href='@Url.Action("AllClinics", "Home")' class="btn btn--primary btn--inside uppercase" style="font-size:15px;padding:6px;">Check for all dental clinics></a>
                                        </div>*@
                                </div>
                                <div class="header-section text-center" id="ClinicHeader" style="margin-top:10px;padding-bottom:25px">
                                    <div class="hero" id="hero2">
                                        <div class="inner" style="padding-bottom:30px">
                                            <h2 style="padding-top:4%;color:white;font-size:28px">
                                                <br />
                                                Queensland Dental Clinics
                                            </h2>

                                            <p style="margin-bottom:18px;font-size:14px;margin-top:15px">
                                                'Total Cost' includes the dental treatment cost shown above and the transport cost by driving. <br />Locate the clinic on the map by clicking on the "+" button.
                                            </p>
                                            <hr class="bottom-line">
                                            <div class="left-element" style="text-align:center;width:30%;margin-left:-20%;">
                                                <label style="font-family:'Agency FB';font-size:30px;color:white;display:block">Dental Treatment Cost: </label>
                                                <p style="font-family:'Agency FB';font-size:25px;color:white;margin-top:16px">Veneers Direct / Indirect - $341~1155</p>

                                            </div>
                                            <div class="right-element" style="text-align:left;margin-left:-15%;margin-top:-5px">
                                                <label style="font-family:'Agency FB';font-size:30px;color:white;display:block">Your budget: </label>
                                                <span style="font-size:23px;color:white">$  </span>
                                                <input type="number" min="1" max="999" id="input" class="form1__field" placeholder="Your budget (e.g. 395)" style="width:28%;margin-top:0px;height:45px;padding:6px" />
                                            </div>
                                            <div class="form-group" style="width:100%;margin-bottom:23px;">
                                                <label style="font-family:'Agency FB';font-size:30px;color:white;display:block;margin-top:10px">Your current location: </label>
                                                <input type="text" id="from_places" class="form-control" style="width:47%;margin-left:27%;height:45px" placeholder="location or address(e.g.Sunshine Coast Airport)" />
                                                <button type="button" id="submitButton"
                                                        class="btn btn--primary btn--inside uppercase" style="margin-left:2%;margin-top:20px;font-size:18px;transition: all 0.3s ease-in-out;">
                                                    Submit
                                                </button>
                                                @*<button id="reset"
                                                            class="btn btn--primary btn--inside uppercase" style="margin-top:20px;font-size:18px;transition: all 0.3s ease-in-out;margin-left:10px">
                                                        Reset
                                                    </button>*@
                                                <div id="warning" style="display:none;color:lightcoral;font-size:22px;position:relative">Please enter your budget and location above before submitting.</div>
                                                <input id="origin" type="hidden" name="origin" required />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="display: inline-block;width:45%;left: 0;">

                                    <div class="row">
                                        <div class="col-md-10" width="100%" style="margin-right:2px">
                                            <div style="display:none"><a href="#" id="get_location">Get your current location</a></div>

                                            <!--a form for address input and result-->
                                            @*<form id="distance_form">*@

                                            @*<input type="submit" value="See nearby clinics" class="btn btn-primary" />*@
                                            @*</form>*@

                                            <div id="result" style="margin-top:0px">
                                                <div class="text-center" style="font-size:22px;background:rgba(0,0,0,0.8);color:white;margin-bottom:10px">Clinics Wihin your Budget</div>
                                                <table id="myTable" style="width:100%" class="cell-border compact stripe hover order-column">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Clinic Name</th>
                                                            <th>Distance</th>
                                                            <th>Total Cost</th>

                                                            <th style="color:white">Lat</th>
                                                            <th style="color:white">Long</th>
                                                            <th> </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tablebody"></tbody>
                                                </table>
                                                <div class="text-center" style="display:none;font-size:23px;color:#5FCF80" id="noClinics">
                                                    There are no public dental clinics within your budget.

                                                </div>

                                            </div>
                                        </div>

                                    </div>


                                </div>
                                <!--section for map-->
                                <div style="display: inline-block;position:absolute;width:61%;right: 0;">

                                    <div id="map" style="display:none;height:550px;width:100%;margin:0;padding:0"></div>
                                    <div style="margin-bottom:20px">
                                        <strong style="font-size:19px;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Legend:</strong>
                                        <table style="width:100%">
                                            <tr style="width:80%;">
                                                <td style="padding-bottom:12px">
                                                    <img src="~/Content/img/newPerson.png" style="width:25px;height:36px" />
                                                    Your current location
                                                </td>
                                                <td style="padding-bottom:12px">
                                                    <img src="~/Content/img/rsz_1marker-clipart-green.png" style="width:23px;height:36px" />
                                                    Dental Clinics within budget
                                                </td>
                                            </tr>
                                            <tr style="width:80%">

                                                <td>
                                                    <img src="~/Content/img/beachflag.png" style="width:23px;height:36px" />
                                                    Current Selected Clinic
                                                </td>
                                                <td>
                                                    <img src="~/Content/img/marker_default.jpg" style="width:23px;height:36px" />
                                                    Dental Clinics exceeding budget
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div id="location"></div>

                                    <div height="30px"></div>
                                </div>


                            </div>

                        </div>
                        <div class="header-section text-center">
                            <a id="goBack" class="btn btn--primary btn--inside uppercase" style="margin-top:30px;margin-bottom:20px;float:left;margin-left:2%;font-weight:bolder;font-size:16px;display:block" href='@Url.Action("GapBetweenTeeth","Home")'> < Previous </a>
                            <a id="toHotel" class="btn btn--primary btn--inside uppercase" style="margin-top:35px;margin-bottom:20px;float:right;font-weight:bolder;font-size:14px;letter-spacing:3px;padding:15px 12px 15px 12px" href='@Url.Action("Hotels", "Home")'> Find Accomodations nearby clinics </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>






