
@{
    ViewBag.Title = "Dental Issues - Gap Between Teeth";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/js/jquery_3.3.1.js"></script>
@*<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/boostrap.min.css"></script>*@
<script src="~/Content/js/jquery.dataTables.min.js"></script>
@*<script src="http://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>*@
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />

<link href="~/Content/css/StyleSheet1.css" rel="stylesheet" />
<link href="~/Content/css/problems.css" rel="stylesheet" />
<link href="~/Content/css/font.css" rel="stylesheet" />
<link href="~/Content/css/FixedHeader.css" rel="stylesheet" />
@*<script src="~/Content/js/showQuestion.js"></script>*@
<!--load css-->
<style>
    td.details-control {
        background: url('../resources/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('../resources/details_close.png') no-repeat center center;
    }

    img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
        max-width: none !important;
        max-height: none !important;
    }

    p {
        font-size: 18px;
    }
</style>
<!--load script for google map-->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDs7DFmUEpY4gmsmLmCIBNihn6trxxVChc&callback=initMap&libraries=places&language=en"></script>
<script>
    var budget;
    var budget_input;
    var previousValue = $("#from_places").val();
    $(document).ready(function () {
        $("#from_places").keyup(function (event) {
            var currentValue = $(this).val();
            if ((event.keyCode === 13) && (currentValue != previousValue)) {
                previousValue = currentValue;
                $("#submitButton").click();
            }
        });
        $('a[href^="#"]').on('click', function (event) {

            var target = $(this.getAttribute('href'));

            if (target.length) {
                event.preventDefault();
                $('html, body').stop().animate({
                    scrollTop: target.offset().top
                }, 1000);
            }

        });

    });



</script>


<!--load script for tabs-->
<script>
    // script for tab steps
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

        var href = $(e.target).attr('href');
        var $curr = $(".process-model  a[href='" + href + "']").parent();

        $('.process-model li').removeClass();

        $curr.addClass("active");
        $curr.prevAll().addClass("visited");
    });
    // end  script for tab steps

</script>
<!--render scripts for information tab-->
<script>

    $(document).on("click", ".naccs .menu div", function () {
        var numberIndex = $(this).index();

        if (!$(this).is("active1")) {
            $(".naccs .menu div").removeClass("active1");
            $(".naccs ul li").removeClass("active1");

            $(this).addClass("active1");
            $(".naccs ul").find("li:eq(" + numberIndex + ")").addClass("active1");

            var listItemHeight = $(".naccs ul")
                .find("li:eq(" + numberIndex + ")")
                .innerHeight();
            $(".naccs ul").height(listItemHeight + "px");
        }
    });

</script>

<div class="banner" style="background: url('../Content/img/cavities-banner.jpg') no-repeat center top;min-height:400px;">
    <div class="bg-color" style="min-height:400px;">
        <div class="container">
            <div class="row">
                <div class="banner-text text-center">
                    <div class="text-border" style="border:0px">
                        @*<h2 class="text-dec" style="padding-top:0px;padding-bottom:0px"><img src="~/Content/img/Logo.png" width="138px" height="70px" style="margin-top:0px;"></h2>*@
                    </div>
                    <div class="intro-para text-center quote" style="margin-top:0">
                        <p class="big-text" style="font-size:35px">Gap Between Teeth</p>
                        <p class="small-text" style="width:60%;margin-left:20%;font-size:18px;">A diastema is a space or gap between two teeth. It appears most often between the two upper front teeth. </p>
                        @*<a href="#courses" class="btn get-quote" style="font-size:21px">Select Your Dental Issu</a>*@
                    </div>
                    <a href="#courses" class="mouse-hover" style="display:none;">
                        <div class="mouse" style="display:none;"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="design-process-section" id="process-tab">
    <div class="container" style="width:82%">
        <div class="row" width="100%">
            <div class="col-xs-12" style="width:100%;padding-right:0px;padding-left:0px">
                <!-- design process steps-->
                <!-- Nav tabs -->
                <div style="text-align:center">
                    <ul class="nav nav-tabs process-model more-icon-preocess" style="max-width:780px;" role="tablist">
                        <li role="presentation">
                            <a href='@Url.Action("Index", "Home")#courses'>
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <p>Dental Problems</p>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href='@Url.Action("TooManyTeeth", "Home")'>
                                <i class="fa fa-clipboard" aria-hidden="true"></i>
                                <p>Problem Details</p>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="@Url.Action("TooManyTeeth", "Home")#feature">
                                <i class="fa fa-qrcode" aria-hidden="true"></i>
                                <p>Category Selection</p>
                            </a>
                        </li>
                        <li role="presentation" id="priceTab" class="active">
                            <a href="#content">
                                <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                <p>Price and Budget</p>
                            </a>
                        </li>
                        <li role="presentation" class="active">
                            <a aria-controls="ClinicsMap" id="clinicsTab">
                                @*<a href="#reporting" aria-controls="reporting" role="tab" data-toggle="tab"/>*@
                                <i class="fa fa-send-o" aria-hidden="true"></i>
                                <p>Find Dental Clinics</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- end design process steps-->
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="discover">
                        <div class="design-process-content">
                            <h3 class="semi-bold">Dental Problems</h3>
                            <p></p>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="strategy">
                        <div class="design-process-content">

                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="optimization">
                        <div class="design-process-content">
                            <h3 class="semi-bold">Optimization</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid unt ut laoreet dolore magna aliquam erat volutpat</p>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="content">
                        <div class="design-process-content" style="padding-right:3%;height:100%">
                            <!--Pricing-->
                            <section id="pricing" class="section-padding" style="width:100%;margin-bottom:0;background: linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);">
                                <div class="container">
                                    <div class="row">



                                    </div>
                                </div>
                            </section>
                            <!--/ Pricing-->
                            <!--budget section-->
                            <div>
                                @*<div class="header-section text-center" style="margin-top:35px;padding-top:20px">
                            <div id="fontbody" style="margin-top:0">
                                <div class="font1">&ensp; Get the best of us</div>
                                <div class="font1">
                                    <span>by telling us your budget  &ensp; &ensp; </span>
                                </div>
                            </div>

                            <p style="margin-top:30px">Enter your budget to check out nearby dental service within your budget</p>
                            <hr class="bottom-line">
                        </div>
                        <div class="container1">
                            <div class="container__item">
                                <form class="form1">
                                    <span style="font-size:23px;">$  </span><input type="number" min="1" max="999" id="input" class="form1__field" placeholder="Your budget (e.g. 395)" style="margin-top:28px;" />
                                    <button type="button" id="submitButton"
                                            class="btn btn--primary btn--inside uppercase" style="font-size:18px">
                                        Submit
                                    </button>
                                    <div id="warning" style="display:none;color:red;font-size:19px;position:relative">Please enter a value for your budget above to submit.</div>
                                </form>
                            </div>

                            <div style="margin-top:30px;margin-left:70%">
                                <h4>Do not have a budget in mind?</h4>
                                <a href='@Url.Action("AllClinics", "Home")' class="btn btn--primary btn--inside uppercase" style="font-size:15px;padding:6px;">Check for all dental clinics></a>
                            </div>
                        </div>*@

                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane active" id="ClinicsMap" style="padding-right:0;width:100%;">
                        <div class="design-process-content" style="padding-right:0;padding-left:0;padding-top:0;padding-bottom:52%;width:100%;height:120%">
                            <div class="container" style="width:100%;margin-right:5px;margin-top:0;padding:0;">
                                <div class="header-section" style="margin-top:0px;padding-top:0px">
                                    <div id="hero1" class="hero" style="margin-left:0;margin-top:0px;">
                                        <div class="inner" style="padding-bottom:30px">

                                            <div class="left-element" style="width:47%;margin-left:15%;margin-top:45px">
                                                <div class="header-section text-center">
                                                    <h2 style="color:white;">Cost of Dental Treatment</h2>
                                                    <p style="width:75%;margin-left:10%;margin-bottom:25px">This price may be subjective to change based on the severity of dental problem and the treatment suggested by the doctor.</p>
                                                    <hr class="bottom-line">

                                                    <p style="margin-bottom:25px;font-size:21px"><strong>Estimated treatment cost for gap between teeth is: </strong></p>
                                                </div>
                                            </div>

                                            <div class="right-element" style="margin-left:38%;padding-right:0px;margin-top:45px">
                                                <div class="col-md-3 col-sm-3" style="margin-top:3%;width:70%">
                                                    <div class="price-table" style="height:3%;box-shadow: -5px 0 5px -5px #333;border: 1px solid #ccc;width:80%">
                                                        <!-- Plan  -->
                                                        <div class="pricing-head">
                                                            <h4>Veneers Direct / Indirect</h4>
                                                            <span class="amount" style="font-size:22px"><strong>$</strong>341~1155</span>
                                                        </div>
                                                        <!-- Plean Detail -->
                                                        @*<div class="price-in mart-15">
                                                  <a href="#" class="btn btn-bg red btn-block">PURCHACE</a>
                                                </div>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="budgetlocation"></div>
                                    <div id="fontbody" style="margin-top:2%">
                                        <div class="font1">&ensp; Get the best of us</div>
                                        <div class="font1">
                                            <span>by telling us your budget and location &ensp; &nbsp; </span>
                                        </div>
                                    </div>
                                    @*<h2>GET THE BEST OF US BY TELLING US YOUR BUDGET</h2>*@
                                    <p class="text-center" style="margin-top:2px;margin-bottom:20px">Find out nearby dental services within your budget by entering your budget and location below.</p>
                                    <a href="#mapShiny" id="top" style="margin-left:47%;margin-top:26px;"><img style="height:45px;width:83px;margin-bottom:55px" src="~/Content/img/scrolldown1.png" /></a>
                                    @*<button class="btn btn--primary btn--inside uppercase" id="scroll" onclick="location.href='#hero2'">Scroll</button>*@
                                    @*<hr class="bottom-line">*@
                                </div>
                                <div class="container1" id="mapShiny">
                                    <div class="container__item">
                                        <form class="form1"></form>
                                    </div>

                                    @*<div style="margin-top:30px;margin-left:68%">
                                <h4>Do not have a budget in mind?</h4>
                                <a href='@Url.Action("AllClinics", "Home")' class="btn btn--primary btn--inside uppercase" style="font-size:15px;padding:6px;">Check for all dental clinics></a>
                            </div>*@
                                </div>


                                <!--section for map-->
                                <div style="position:absolute;width:100%;right: 0;">
                                    <div class="form-group" style="width:100%;margin-top:20px;margin-bottom:25px">
                                        @*<label style="font-family:'Agency FB';font-size:22px">Please enter your current location: </label>
                                <input type="text" id="from_places" class="form-control" style="width:65%" placeholder="location or address(e.g.Sunshine Coast Airport)" />
                                <input id="origin" type="hidden" name="origin" required />*@
                                    </div>

                                    <iframe src="https://leopalmieri.shinyapps.io/gapbetweenteeth/" style="width: 100%;height:830px;"></iframe>
                                    <div id="location"></div>

                                    <div height="30px"></div>
                                </div>


                            </div>

                        </div>
                        <div class="header-section text-center">
                            <a id="goBack" class="btn btn--primary btn--inside uppercase" style="margin-top:6%;margin-bottom:20px;float:left;margin-left:2%;font-weight:bolder;font-size:16px;display:block" href='@Url.Action("GapBetweenTeeth","Home")'> < Previous </a>
                            <a id="toHotel" class="btn btn--primary btn--inside uppercase" style="margin-top:6%;margin-bottom:20px;float:right;font-weight:bolder;font-size:14px;letter-spacing:3px;padding:15px 12px 15px 12px" href='@Url.Action("Hotels", "Home")'> Find Accomodations nearby clinics </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>






