@{
    ViewBag.Title = "Home";
}
<!--load javascript files-->
<script src="~/Content/js/jquery.min.js"></script>

<script>


</script>

    <!--This is the Banner section with the image, website name and logo-->
    <!--Banner-->
    <div class="banner">
        <div class="bg-color">
            <div class="container">
                <div class="row">
                    <div class="banner-text text-center">
                        <div class="text-border">
                            <h2 class="text-dec" style="padding-top:0px;padding-bottom:0px">Welcome to Teeth Set Go  <img src="~/Content/img/Logo.png" width="138px" height="70px" style="margin-top:0px;"></h2>
                        </div>
                        <div class="intro-para text-center quote">
                            <p class="big-text">Still Waiting For Your Dental Care?</p>
                            <p class="small-text"></p>
                            <a href="#courses" class="btn get-quote" style="font-size:21px">Select Your Dental Issue</a>
                            <a href="#courses" class="mouse-hover">
                                <div class="mouse"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ Banner-->
    <!--This is the section showing 10 dental problems to select with-->
    <!--Dental issues-->
    <section id="courses" class="section-padding">
        <div class="container" style="width:80%">
            <div class="row">
                <div class="header-section text-center">
                    <h2>Are you Suffering from any of these issues?</h2>

                    <p></p>
                    <hr class="bottom-line">
                </div>
            </div>
        </div>
        <div class="container" style="width:75%">
            <div class="row">
                <div class="col-md-3 col-sm-6 padleft-right">
                    <div class="pm-staff-profile-details text-center" style="margin-bottom:0px;padding-bottom:5px;">
                        <p class="pm-staff-profile-name" style="margin-bottom:0px;padding-bottom:5px;font-size:18px;">Toothache</p>
                    </div>
                    <figure class="imghvr-fold-up">
                        <img src="~/Content/img/Toothache.png" class="img-responsive" style="height:250px;width:360px">
                        <figcaption>
                            <h3>Toothache</h3>
                            <p>Pain in or around a tooth.</p>
                        </figcaption>
                        <a href='@Url.Action("Emergency_Toothache", "Home")'></a>
                    </figure>
                </div>
                <div class="col-md-3 col-sm-6 padleft-right">
                    <div class="pm-staff-profile-details text-center" style="margin-bottom:0px;padding-bottom:5px;">
                        <p class="pm-staff-profile-name" style="margin-bottom:0px;padding-bottom:5px;font-size:18px;">Cavities</p>
                    </div>
                    <figure class="imghvr-fold-up">
                        <img src="~/Content/img/Cavities.png" class="img-responsive" style="height:250px;width:360px">
                        <figcaption>
                            <h3>Cavities</h3>
                            <p>Damaged outer coating or inner layer of tooth caused by decay.</p>
                        </figcaption>
                        <a href="@Url.Action("Cavities", "Home")" class="notUrgent"></a>
                    </figure>
                </div>
                <div class="col-md-3 col-sm-6 padleft-right">
                    <div class="pm-staff-profile-details text-center" style="margin-bottom:0px;padding-bottom:5px;">
                        <p class="pm-staff-profile-name" style="margin-bottom:0px;padding-bottom:5px;font-size:18px;">Chipped Tooth</p>
                    </div>
                    <figure class="imghvr-fold-up">
                        <img src="~/Content/img/Chippedtooth.png" class="img-responsive" style="height:250px;width:360px">
                        <figcaption>
                            <h3>Chipped Tooth</h3>
                            <p>Chipped of tooth enamel</p>
                        </figcaption>
                        <a href='@Url.Action("EmergencyPage", "Home")'></a>
                    </figure>
                </div>
                <div class="col-md-3 col-sm-6 padleft-right">
                    <div class="pm-staff-profile-details text-center" style="margin-bottom:0px;padding-bottom:5px;">
                        <p class="pm-staff-profile-name" style="margin-bottom:0px;padding-bottom:5px;font-size:18px;">Knocked Out Tooth</p>
                    </div>
                    <figure class="imghvr-fold-up">
                        <img src="~/Content/img/Knocked out tooth.png" class="img-responsive" style="height:250px;width:360px">
                        <figcaption>
                            <h3>Knocked Out Tooth</h3>
                            <p>Broken teeth</p>
                        </figcaption>
                        <a href='@Url.Action("EmergencyPage", "Home")'></a>
                    </figure>
                </div>
                <div class="col-md-3 col-sm-6 padleft-right">
                    <div class="pm-staff-profile-details text-center" style="margin-bottom:0px;padding-bottom:5px;">
                        <p class="pm-staff-profile-name" style="margin-bottom:0px;padding-bottom:5px;font-size:18px;">Sensitive to Cold</p>
                    </div>
                    <figure class="imghvr-fold-up">
                        <img src="~/Content/img/Sensitivetocold.png" class="img-responsive" style="height:250px;width:360px">
                        <figcaption>
                            <h3>Sensitive to Cold</h3>
                            <p>Hypersensitivity</p>
                        </figcaption>
                        <a href="@Url.Action("SensitiveToCold", "Home")" class="notUrgent"></a>
                    </figure>
                </div>
                <div class="col-md-3 col-sm-6 padleft-right">
                    <div class="pm-staff-profile-details text-center" style="margin-bottom:0px;padding-bottom:5px;">
                        <p class="pm-staff-profile-name" style="margin-bottom:0px;padding-bottom:5px;font-size:18px;">Too Many Teeth</p>
                    </div>
                    <figure class="imghvr-fold-up">
                        <img src="~/Content/img/too many teeth.jpg" class="img-responsive" style="height:250px;width:360px">
                        <figcaption>
                            <h3>Too Many Teeth(Hyperdontia)</h3>
                            <p>Have extra teeth</p>
                        </figcaption>
                        <a href="#feature" class="notUrgent"></a>
                    </figure>
                </div>
                <div class="col-md-3 col-sm-6 padleft-right">
                    <div class="pm-staff-profile-details text-center" style="margin-bottom:0px;padding-bottom:5px;">
                        <p class="pm-staff-profile-name" style="margin-bottom:0px;padding-bottom:5px;font-size:18px;">Gum Problems</p>
                    </div>
                    <figure class="imghvr-fold-up">
                        <img src="~/Content/img/Gumproblems.png" class="img-responsive" style="height:250px;width:360px">
                        <figcaption>
                            <h3>Gum Problems</h3>
                            <p>Bleeding gums or pulling away from teeth.</p>
                        </figcaption>
                        <a href='@Url.Action("EmergencyPage", "Home")'></a>
                    </figure>
                </div>
                <div class="col-md-3 col-sm-6 padleft-right">
                    <div class="pm-staff-profile-details text-center" style="margin-bottom:0px;padding-bottom:5px;">
                        <p class="pm-staff-profile-name" style="margin-bottom:0px;padding-bottom:5px;font-size:18px;">Gap Between Teeth</p>
                    </div>
                    <figure class="imghvr-fold-up">
                        <img src="~/Content/img/Gapbetweenteeth.png" class="img-responsive" style="height:250px;width:360px">
                        <figcaption>
                            <h3>Gap Between Teeth</h3>
                            <p>Space between teeth or crowding of teeth.</p>
                        </figcaption>
                        <a href="#feature" class="notUrgent"></a>
                    </figure>
                </div>
                <div class="col-md-3 col-sm-6 padleft-right">
                    <div class="pm-staff-profile-details text-center" style="margin-bottom:0px;padding-bottom:5px;">
                        <p class="pm-staff-profile-name" style="margin-bottom:0px;padding-bottom:5px;font-size:18px;">Crooked Teeth</p>
                    </div>
                    <figure class="imghvr-fold-up">
                        <img src="~/Content/img/Crookedteeth.png" class="img-responsive" style="height:250px;width:360px">
                        <figcaption>
                            <h3>Crooked Teeth</h3>
                            <p>Teeth grow in crooked, overlapping, or twisted</p>
                        </figcaption>
                        <a href="#feature" class="notUrgent"></a>
                    </figure>
                </div>
                <div class="col-md-3 col-sm-6 padleft-right">
                    <div class="pm-staff-profile-details text-center" style="margin-bottom:0px;padding-bottom:5px;">
                        <p class="pm-staff-profile-name" style="margin-bottom:0px;padding-bottom:5px;font-size:18px;">Wisdom Teeth Problems</p>
                    </div>
                    <figure class="imghvr-fold-up">
                        <img src="~/Content/img/WisdomTeeth Problems.png" class="img-responsive" style="height:250px;width:360px">
                        <figcaption>
                            <h3>Wisdom Teeth Problems</h3>
                            <p>Hindmost molars in humans which usually appear at about the age of twenty.</p>
                        </figcaption>
                        <a href='@Url.Action("EmergencyPage", "Home")'></a>
                    </figure>
                </div>
                <div class="col-md-4 col-sm-6 " style="border: 2px solid black;border-radius: 25px;width:300px;height:160px;margin-left:50px;margin-top:80px">
                    <div class="pm-staff-profile-details text-center" style="margin-bottom:0px;padding-bottom:5px;">
                        <p class="pm-staff-profile-name" style="margin-bottom:0px;padding-bottom:5px;"></p>
                    </div>
                    <a href='@Url.Action("EmergencyPage", "Home")'><h3 style="font-size:23px">Require emergency dental care?</h3><img src="~/Content/img/6402-200.png" style="height:30px;width:30px" /></a>
                </div>
            </div>
        </div>
    </section>
    <!--/ Dental issues-->
    <!--/ Question section-->
    <!--Info-graphic-->
    <section id="organisations" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="orga-stru">
                            <h3 style="font-size:22px">83.09%</h3>
                            <p>patients on waiting list</p>
                            <i class="fa fa-male"></i>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="display:none;">
                        <div class="orga-stru">
                            <h3>83.09%</h3>
                            <p>Treated</p>
                            <i class="fa fa-male"></i>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="orga-stru">
                            <h3 style="font-size:22px">16.91%</h3>
                            <p>patients treated</p>
                            <i class="fa fa-male"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-info">
                        <hgroup>
                            <h3 class="det-txt"> Is Queensland still suffering from long dental waiting times?</h3>
                            <h4 class="sm-txt">(Updated from June 2018)</h4>
                        </hgroup>
                        <p class="det-p"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
